
h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
}

.container-fluid {
    width: 100%;
    font-size: 1.25rem;
    font-family: sans-serif;
    line-height: 150%;
    /*text-shadow: 0 1px 1px #b6701e;*/
    /*text-shadow: 0 1px 1px #000000;*/
}

.country-element {
    font-weight: bold;
}

.leftHalf {
    position: relative;
    float: left;
    width: 70%;
}

.rightHalf {
    position: relative;
    float: left; 
    width: 30%
}

.europe {
    stroke: black;
    stroke-width: 1px;
    filter: drop-shadow( 0 2px 1px black );
}

.country:hover {
    cursor: pointer;
    opacity: 0.5;  
    fill:deepskyblue;  
    stroke: rgb(29, 31, 173);
    stroke-width: 1px;
    filter: drop-shadow( 0 2px 1px rgb(55, 29, 170) );
}

.countryImage {
    width: 250px;
    height: 150px;
    box-shadow: 0 0 46px -19px rgba(0,0,0,.64);
}

