<div class="container-fluid">
  <h3 class="text-center">Learning page</h3>

  <br><br>

  <p> Please choose the correct colors for the flag of the following country "PLACEHOLDER". </p>
  <p> Note: Emblems and flag segment proportions are ignored for simplicity </p>

  <hr>
  
  <svg id="flag" height="150px" width="550px">
    <defs>
        <filter id="MyFilter">
            <feGaussianBlur in="SourceAlpha" stdDeviation="4" result="blur"/>
            <feOffset in="blur" dx="4" dy="4" result="offsetBlur"/>
            <feSpecularLighting in="blur" surfaceScale="5" specularConstant="1" 
                            specularExponent="10" lighting-color="white"  
                            result="specOut">
                <fePointLight x="-5000" y="-10000" z="20000"/>
            </feSpecularLighting>
            <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut"/>
            <feComposite in="SourceGraphic" in2="specOut" operator="arithmetic" 
                    k1="0" k2="1" k3="1" k4="0" result="litPaint"/>
            <feMerge>
                <feMergeNode in="offsetBlur"/>
                <feMergeNode in="litPaint"/>
            </feMerge>
        </filter>
    </defs>

    <g stroke="black" stroke-width="2">
        <rect class="flagRect" width="300" height="50" y="0" (click)="colorFlag($event)" fill="black"></rect>  
        <rect class="flagRect" width="300" height="50" y="50" (click)="colorFlag($event)" fill="black"></rect>
        <rect class="flagRect" width="300" height="50" y="100" (click)="colorFlag($event)" fill="black"></rect>  
    </g>    

    <g stroke="black" (click)="pickColor();" class="flagColors">
        <rect *ngIf="filterColor[0] else alterTemp1" width="50" height="50" x="400" y="0" fill="white" filter="url(#MyFilter)"
         (mouseenter) ="currentColorID = 0; currentColor = 'white';"></rect>  
        <ng-template #alterTemp1>
                <rect width="50" height="50" x="400" y="0" fill="white" (mouseenter) ="currentColorID = 0"></rect>   
        </ng-template>

        <rect *ngIf="filterColor[1] else alterTemp2" width="50" height="50" x="450" y="0" fill="black" filter="url(#MyFilter)"
        (mouseenter) ="currentColorID = 1; currentColor = 'black';"></rect>  
        <ng-template #alterTemp2>
               <rect width="50" height="50" x="450" y="0" fill="black" (mouseenter) ="currentColorID = 1"></rect>   
        </ng-template>

        <rect *ngIf="filterColor[2] else alterTemp3" width="50" height="50" x="500" y="0" fill="green" filter="url(#MyFilter)"
         (mouseenter) ="currentColorID = 2; currentColor = 'green';"></rect> 
        <ng-template #alterTemp3>
                <rect width="50" height="50" x="500" y="0" fill="green" (mouseenter) ="currentColorID = 2"></rect>
        </ng-template>

        <rect *ngIf="filterColor[3] else alterTemp4" width="50" height="50" x="400" y="50" fill="red" filter="url(#MyFilter)"
         (mouseenter) ="currentColorID = 3; currentColor = 'red';"></rect> 
        <ng-template #alterTemp4>
                <rect width="50" height="50" x="400" y="50" fill="red" (mouseenter) ="currentColorID = 3"></rect> 
        </ng-template>

        <rect *ngIf="filterColor[4] else alterTemp5" width="50" height="50" x="450" y="50" fill="blue" filter="url(#MyFilter)"
         (mouseenter) ="currentColorID = 4; currentColor = 'blue';"></rect> 
        <ng-template #alterTemp5>
            <rect width="50" height="50" x="450" y="50" fill="blue" (mouseenter) ="currentColorID = 4"></rect> 
        </ng-template>

        <rect *ngIf="filterColor[5] else alterTemp6" width="50" height="50" x="500" y="50" fill="yellow" filter="url(#MyFilter)"
        (mouseenter) ="currentColorID = 5; currentColor = 'yellow';"></rect> 
       <ng-template #alterTemp6>
           <rect width="50" height="50" x="500" y="50" fill="yellow" (mouseenter) ="currentColorID = 5"></rect> 
       </ng-template>
    </g>
  </svg>  
</div>
