@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
}

.container-fluid {
    width: 100%;
    font-size: 1.25rem;
    font-family: sans-serif;
    line-height: 150%;
}

.remove-paddinh-left-right {
  padding-left: 0;
  padding-right: 0;
}

.country-element {
    font-weight: bold;
}

.leftHalf {
    position: relative;
    float: left;
    width: 70%;
}

.rightHalf {
    position: relative;
    float: left; 
    width: 30%;
}

.europe {
    stroke: black;
    stroke-width: 1px;
    filter: drop-shadow( 0 2px 1px black );
}

.country:hover {
    cursor: pointer;
    opacity: 0.5;  
    fill:deepskyblue;  
    stroke: rgb(29, 31, 173);
    stroke-width: 1px;
    filter: drop-shadow( 0 2px 1px rgb(55, 29, 170) );
}

.countryImage {
    width: 250px;
    height: 150px;
    box-shadow: 0 0 46px -19px rgba(0,0,0,.64);
}


/* --------------------- */


.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }
   
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    /*background-color: #005f5f;*/
    background-color: #4685d8;
    cursor: pointer;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    .nav li {
      width: 200px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
  }

  /* --------------------- */

  #homeArticle, #homeArticleAside {
    display: block;
    padding-left: 10px;
  }

  #europeArticle, #continentsArticle, #statisticsArticle,
  #europeArticleAside, #continentsArticleAside, #statisticsArticleAside {
    display: none;
    padding-left: 10px;
  }

  .main-article {
    display: block;
  }

  .greenboard {
    /*background:url(http://www.photo-dictionary.com/photofiles/list/461/838chalkboard.jpg);*/
    background: url("../../assets/images/blackboard-background.jpg");
    width: 800px;
    font: 18pt 'Gloria Hallelujah';
    color: rgba(255,255,255,0.7);
    text-shadow:0 0 4px rgba(255,255,255,0.5);
    height: 486px;
    padding: 50px 25px 50px 75px;
    -webkit-perspective: 1300;
    perspective: 1300;
  }

  .greenboard-text {
    transform: rotate(-3deg) rotateY(15deg);
    -webkit-transform: rotate(-3deg) rotateY(15deg);
  }


  /* --------------------- */
  /* https://codepen.io/cssinate/pen/KVdYjz */

  .dropDown-continents {
    font-family: sans-serif;
    color:#FFF;
  }

  .select {
    display:flex;
    flex-direction: column;
    position:relative;
    width:250px;
    height:40px;
  }
  
  .option {
    padding:0 30px 0 10px;
    min-height:40px;
    display:flex;
    align-items:center;
    background:#333;
    border-top:#222 solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition:background .4s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
    
  }
  
  .option:hover {
    /*background:#666;*/
    background: #4685d8;
  }
  
  .select:focus .option {
    position:relative;
    pointer-events:all;
  }
  
  input {
    opacity:0;
    position:absolute;
    left:-99999px;
  }
  
  input:checked + label {
    order: 1;
    z-index:2;
    background:#666;
    border-top:none;
    position:relative;
  }
  
  input:checked + label:after {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
  }
  
  input:checked + label:before {
    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
    background:#666;
  }

  #continentImg {
    height: 200px;
    padding-left: 20px;
  }


  /* --------------------- */

  .bar {
    fill: #aaa;
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
  }

  .bar text {
    fill: #555;
  }
  
  .chart:hover .bar, .chart:focus .bar {
    fill: #aaa;
  }
  
  .bar:hover,
  .bar:focus {
    fill: #4685d8 !important;
  }

  .bar:hover text, .bar:focus text {
    fill: #4685d8;
  }
  
  figcaption {
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }

  /* --------------------- */

  .graph .labels.x-labels {
    text-anchor: middle;
  }
  
  .graph .labels.y-labels {
    text-anchor: end;
  }
  
  
  .graph {
    height: 600px;
    width: 1000px;
  }
  
  .graph .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
  }
  
  .labels {
    font-size: 13px;
  }
  
  .label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: black;
  }
  
  .data {
    fill: red;
    stroke-width: 1; 
  }

  .statistic-text {
    width: 500px;
  }

